A3/stateMachineConfig.json
{
  "StartAt": "SelectHashingFunction",
  "States": {
    "SelectHashingFunction": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.action",
          "StringEquals": "sha256",
          "Next": "InvokeSHA256Lambda"
        },
        {
          "Variable": "$.action",
          "StringEquals": "md5",
          "Next": "InvokeMD5Lambda"
        },
        {
          "Variable": "$.action",
          "StringEquals": "bcrypt",
          "Next": "InvokeBcryptLambda"
        }
      ]
    },
    "InvokeSHA256Lambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:339712816963:function:SHA256HashFunction",
      "End": true
    },
    "InvokeMD5Lambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:339712816963:function:MD5HashFunction",
      "End": true
    },
    "InvokeBcryptLambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:339712816963:function:BcryptHashFunction",
      "End": true
    }
  }
}